@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap");
.login {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.login-left {
  font-size: 16px;
  flex: 0.5;
  height: 100%;
}
.login-left > h3 {
  margin: 15px 25px;
  color: green;
  font-weight: 300;
}
.login-right {
  background-color: #91c788;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.5 1;
  margin: 20px 40px;
  clip-path: polygon(21% 0, 100% 0, 100% 100%, 0% 100%);
}
.login-right > h1 {
  color: #feffde;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}
.login-right > input {
  background-color: #ffffff;
  border-radius: 50px;
  font-size: 15px;
  padding: 7px 15px;
  outline-width: 0;
  border: 2px solid #ddffbc;
  width: 272px;
  color: white;
  margin-bottom: 30px;
}

.login-right > button {
  background-color: #ddffbc;
  border-radius: 50px;
  font-size: 16px;
  padding: 7px 15px;
  outline-width: 0;
  border: 2px solid #feffde;
  width: 272px;
  margin-bottom: 30px;
  color: #52734d;
}
.login-leftImages {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-image: url("./assets/41464-student-with-books.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.account {
  color: #feffde;
  font-size: 15px;
  margin-bottom: 25px;
  cursor: pointer;
}
.signUp {
  color: #feffde;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 25px;
  text-decoration: none;
}
.forget {
  color: #feffde;
  font-size: 12px;
  margin-bottom: 15px;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: none;
}
